// Divided File to sum up all colors used in the project for the company

$main-color: #e97b14;

$secondary-color: #c0392b;

$tertiary-color: #8e44ad;

$quaternary-color: #2980b9;

$quinary-color: #27ae60; 