// Divided File to sum up all fonts used in the project for the company

@font-face {
  font-family: 'Pacifico';
  src: url("assets/Pacifico-Regular.ttf");
}

@font-face {
  font-family: 'Fredoka';
  src: url("assets/Fredoka.ttf");
}