/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *::after, *::before{
  box-sizing: border-box;
}

body {
  background-image: url('../img/wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  /* border: 1px solid white; */
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
  cursor: pointer;
}

.outside, 
.inside {
  /* border: 1px solid black; */
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

/* TEXT from the outside of the card */
.outside p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: solid;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #000046;
}

p.hover {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: solid;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  color: #000046;
}

.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
}

.inside {
  background: linear-gradient(
    to right,
    #e0e0e0,
    #ffffff 30%);
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    border: 1px solid;
    box-shadow: 5px 10px 28px #000000;
}

img {
  height: 280px;
  border-radius: 10px;
}

.inside p {
  font-size: 15px;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.front {
  background-color: #ffffff;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e0e0e0, #ffffff 30%);
}

/* cakebox */
.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}

/* Designelements for the cake for all layers */
.top-layer,
.middle-layer,
.bottom-layer {
  height: 80px;
  width: 240px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
    transparent 50px,
    #fedbab 50px,
    #fedbab 60px,
    transparent 60px

  ),
  radial-gradient( circle at 30px 5px, #994c10 30px,
  #fcbf29 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin:auto;
}

.middle-layer {
  transform: scale(0.85);
  top: 6px;
}

.top-layer {
  transform: scale(0.7);
  top: 26px;
}

.candle {
  height: 45px;
  width: 15px;
  background: #e0e0e0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 202px;
}

.candle:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 48px;
  transform: rotate(45deg);
  left: -1px;
}