
body {
    background: #1f1f1f

}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    height: 800px;
    border: solid 2px red;

}

.container > .textcontainer {
    width: 500px;
    height: 300px;
    border: solid 2px green;
    display: flex;
    justify-content: center;
    align-items: center;
}

 h1 {
    color: blue;
    font-size: 100px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    float: left;

}

.container > .boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: solid 2px white;
    position: relative;
    width: 500px;
    height: 500px;

} 

.container .boxes > .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 100px;
    height: 100px;
    border: solid 2px red;
}

.boxes > .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: greenyellow;
    width: 100px;
    height: 100px;
    border: solid 2px yellow;
}